.menu {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.9;
  visibility: hidden;
  z-index:2;

  &.show {
    visibility: visible;
  }

  &-nav {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: left;
    width: 50%;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background: darken($Dblack, 5);
    list-style: none;
    transform: translate3d(0, -100%, 0);
    //@include easeOut;//

    &.show {
      // Slide in from top
      transform: translate3d(0, 0, 0);
    }
  }

  .nav-item {
    transform: translate3d(600px, 0, 0);
    //@include easeOut;

    &.show {
      // Slide in from right
      transform: translate3d(0, 0, 0);
    }

    &.current > a {
      color: $third;
    }
  }

  .nav-link {
    display: inline-block;
    position: relative;
    font-size: 30px;
    text-transform: uppercase;
    padding: 1rem 0;
    font-weight: 300;
    color: set-text-color($Dblack);
    text-decoration: none;
    //@include easeOut;

    &:hover {
      color: $third;
    }
  }
}

// Delay each nav item slide by 0.1s
@for $x from 1 through 4 {
  .nav-item:nth-child(#{$x}) {
    transition-delay: $x * 0.1s;
  }
}
