// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
$link-decoration: none;

// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";

// 4. Include any default map overrides here
$custom-colors: (
	"Farve": $cyan-400,
);

$primary: #000000;
$secondary: #fff;
$third: #9B4ED8;
$menu-color: #444444FF;
$Dblack: #0b0c0b;





$theme-colors: map-merge($theme-colors, $custom-colors);


@import "bootstrapComponents";



// 5. Du kan lave styling her...


// Bio Card & img

.card-bio {
	border-radius: 50%;
	border-color: $third;
	min-width: 50%;
}

.card {
	border-color: $third;
}

//main

main {
	min-height: calc(100vh - 60px); }
main .icons {
	margin-top: 1rem; }
main .icons a {
	padding: 0.4rem;
	color: $secondary;}
main .icons a:hover {
	color: $third;
	transition: all 0.5s ease-out; }
main#home {
	overflow: hidden; }


main .h2{
	background: rgba(73, 73, 73, 0.5)
}


body {
	background-color: $primary;
	font-family: Bahnschrift, sans-serif;
	color: #fff;
	height: 100vh;
	position: relative;
}

body#bg-img::before {
	content: "";
	background-image: url("../img/bg3.png");
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: 100%;
	width: 100%;
	opacity: 0.2;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}



h1 {
	font-weight: 400;
	font-size: 4rem;
}

.sec-text{
	color: $third;
}

.plink {
	color: $secondary;
}

.plink a:hover {
	color: $third;
	transition: all 0.5s ease-out;
}

// menu
.navbar {
	position: fixed;
	top: 0;
	right: 0;
	height: 50px;
	width: 50px;
	background-color: #333;
}

.navbar-toggler {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 30px;
	height: 20px;
	border: none;
	cursor: pointer;
	background-color: transparent;
	z-index: 1;
}

.navbar-toggler:focus {
	outline: none;
}

.navbar-toggler-icon {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: block;
	width: 100%;
	height: 2px;
	background-color: #fff;
	transition: all 0.3s ease-in-out;
}

.navbar-toggler-icon::before,
.navbar-toggler-icon::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #fff;
	transition: all 0.3s ease-in-out;
}

.navbar-toggler-icon::before {
	transform: translateY(-8px);
}

.navbar-toggler-icon::after {
	transform: translateY(8px);
}

.menu {
	position: fixed;
	top: 50px;
	right: 0;
	height: calc(100% - 50px);
	width: 100%;
	background-color: #333;
	transform: translateX(100%);
	transition: transform 0.3s ease-in-out;
	z-index: 0;
}

.menu-nav {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
}

.nav-item {
	margin: 10px 0;
}

.nav-link {
	text-decoration: none;
	color: #fff;
	font-size: 24px;
}

.nav-link:hover {
	color: #bbb;
}

.show-menu .navbar-toggler-icon {
	background-color: transparent;
}

.show-menu .navbar-toggler-icon::before {
	transform: translateY(0) rotate(45deg);
}

.show-menu .navbar-toggler-icon::after {
	transform: translateY(0) rotate(-45deg);
}

.show-menu .menu {
	transform: translateX(0);
	z-index: 9999;
}


// Om afsnit

.bio-image {
	max-width: 100%;
	height: auto;
}

.bio {
	font-size: 3rem;
}

.bio ul {
	font-size: 1.5rem;
}

.job {
	background-color: $primary;
	padding: 0.5rem;
	border-bottom: 5px solid $third;
}



@media (min-width: 576px) {
	.about-info {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-areas:
            "bioimage bio bio"
            "job1 job2 job3";
	}

	.about-info .bio-image {
		grid-area: bioimage;
		justify-self: center;
	}

	.about-info .job-1 {
		grid-area: job1;
	}

	.about-info .job-2 {
		grid-area: job2;
	}

	.about-info .job-3 {
		grid-area: job3;
	}
}


// Kodning

.projects {
	display: grid;
	grid-gap: 0.7rem;
	grid-template-columns: repeat(3, 1fr); }
.projects img {
	width: 100%;
	border: 3px #fff solid; }
.projects img:hover {
	opacity: 0.5;
	border-color: $third;
	transition: all 0.5s ease-out; }

		// Kodning btn

.boxes {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	margin-top: 1rem;
	box-sizing: border-box;
}

.boxes div {
	font-size: 2rem;
	border: 3px #fff solid;
	padding: 1.5rem 2.5rem;
	margin-bottom: 3rem;
	transition: all 0.5s ease-out; }
.boxes div:hover {
	padding: 0.5rem 1.5rem;
	background: $third;
	color: #000; }
.boxes div:hover span {
	color: #000; }

.btn, .btn-dark, .btn-light {
	display: block;
	padding: 0.5rem 1rem;
	border: 0;
	margin-bottom: 0.3rem; }
.btn:hover, .btn-dark:hover, .btn-light:hover {
	background: $third;
	color: #000; }

.btn-dark {
	background: $menu-color;
	color: #fff; }

.btn-light {
	background: #c4c4c4;
	color: #333; }


// Portfolio Tiles

.tile {
	position: relative;
	overflow: hidden;
	background-color: transparent;
	height: 294px;
	width: 294px;
	border: 3px solid $third;
}

.tile-image {
	position: relative;
	overflow: hidden;
	height: 100%; /* fill the height of the parent container */
}

.tile-image img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.tile-text {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.3);
	color: $secondary;
	opacity: 1;
}

.tile-text h5 {
	margin: 0;
	font-size: 18px;
	font-weight: bold;
}


// Kontakt

.boxes {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	margin-top: 1rem; }
.boxes div {
	font-size: 2rem;
	border: 3px #fff solid;
	padding: 1.5rem 2.5rem;
	margin-bottom: 3rem;
	transition: all 0.5s ease-out; }
.boxes div:hover {
	padding: 0.5rem 1.5rem;
	background: $third;
	color: $Dblack; }
.boxes div:hover span {
	color: $Dblack; }

// Form

.btn-custom {
	background-color: $menu-color;
	color: #ffffff;
}
